@import "src/assets/css/variable";

.card {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  border-radius: 37px;
  padding: 38px 51px;
  margin: 60px 200px 30px 200px;
}

.titleEmotion {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.emotionCard {
  max-height: 500px;
  padding: 15px 30px;
  background-color: #fceded;
  border-radius: 28px;
}

.img {
  width: 100%;
  // max-height: 340px;
  object-fit: cover;
  border-radius: 28px;
}
.btnContinue {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.captionTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.listTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dived {
  margin-top: 10px;
  margin-bottom: 30px;
  background: #d5b6ff;
  height: 1px;
  width: 100%;
}
.item {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
  }
}
.itemList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.itemTag {
  padding: 5px 15px;
  margin-right: 10px;
  border: 1px solid #7f56d9;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #a6aab4;
}
.dayItem {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #a6aab4;
}

.itemCaps {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #141414;
}
.listCaps {
  overflow-y: auto;
  &::-webkit-scrollbar {
    margin-left: 10px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($primary, 0.15);
    border-radius: 2px;
  }
}
.similarity {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #141414;
  margin-right: 10px;
}
.headerWrapper {
  position: relative;
  width: 100%;
  max-height: 270px;
  .imgBg {
    width: 100%;
    max-height: 300px;
  }
}

.bgDescription {
  position: absolute;
  bottom: 50px;
  left: 250px;
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 84px;
  color: $primary;
  -webkit-text-: 8px #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.selected {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background-color: #e9d8e8;
}
